{#    Sidebar  #}
<div class="sidebar" id="sidebar">
    <ul class="sidebar__menu">
        <li class="menu__item">
            <a href="{% url 'bastama:category_products' 'jeans' %}" class="menu__link">Jeans</a>
        </li>
        <li class="menu__item">
            <a href="{% url 'bastama:category_products' 'jeide' %}" class="menu__link">Jeide</a>
        </li>
        <li class="menu__item">
            <a href="{% url 'bastama:category_products' 'qosymsha' %}" class="menu__link">Qosymsha </a>
        </li>
        <li class="menu__item">
            <a href="{% url 'bastama:category_products' 'gift' %}" class="menu__link">Gift</a>
        </li>
    </ul>
</div>
{# End Sidebar #}