/* Sidebar styles */

.sidebar {
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 3;
    padding-top: 50px;

    height: calc(100vh - 100px);
    width: 250px;
    background-color: #0045c0;

    transform: translateX(100vw);
    transition: all .5s cubic-bezier(1, 0, 0, 1);
}
.sidebar a{
    text-decoration: none;
}
.sidebar a:hover{
    color: yellow;
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 50%;
}

.menu__link {
    font-size: 35px;
    font-family: 'Podkova',serif;
    color: #fff;
}

.sidebar.active {
    transform: translateX(0);
}

/*--------------------------content------------------------------*/

.coastel{
	font-size: 15px;
    padding-bottom: 10px;
}

.rowblock{
    padding-top: 130px;
	display: flex;
	justify-content: space-around;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #0045c0;
    background-color: #fff;
}
.cardblock{

    text-align: center;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.imageblock1{
    width: 300px;
    height: 550px;
    background: url("./img/l1.jpg");
    background-size: 100%;
    border-radius: 10%;
}

.imageblock2{
    margin-top: 70px;
    width: 300px;
    height: 300px;
    background: url("./123/jeideler/burjeide/burjeide1.jpg");
    background-size: 300px;
}

.imageblock3{
    margin-top: 70px;
    width: 300px;
    height: 300px;
    background: url("./123/jeans/shalbar/shalbar_jogger.jpg");
    background-size: 300px;
}
.button {
    text-decoration: none;
    color: #0046c0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 13px;
    border: 3px solid #0046c0;
    padding: 6px 20px;
  }
  @media (max-width:1100px) {

    .imageblock1{
        width: 200px;
        height: 400px;
        background-size: 100%;
        border-radius: 10%;
    }

    .imageblock2{
        width: 200px;
        height: 200px;
        background-size: 100%;
    }

    .imageblock3{
        width: 200px;
        height: 200px;
        background-size: 100%;
    }
  }
@media (max-width:740px) {
    .qazrep{
        font-size:28px;
    }
    .qazrep p{
        margin-top: 10px;
    }
    .logo{
        height: 50px;
    }
    header{
        height: 80px;
    }
    .sidebar{
        top: 80px;
        width: 200px;
    }
    .menu__link{
        font-size: 25px;
    }
    .hamburger span {
        height:3px;
    }
    .hamburger {
        width:26px;
        height:26px;}
}
@media (max-width:640px) {
    .imageblock1{
        width: 150px;
        height: 300px;
    }

    .imageblock2{
        width: 100px;
        height: 100px;
    }

    .imageblock3{
        width: 100px;
        height: 100px;
    }
    .rowblock{
        font-size: 10px;
    }
    .button{
        font-size: 10px;
    }
    .logo{
        height: 40px;
    }
    .qazrep p{
        margin-top: 5px;
    }
    header{
        height: 80px;
    }
    .sidebar{
        top: 80px;
        width: 180px;
    }
    .menu__link{
        font-size: 20px;
    }
    .hamburger span {
        height:3px;
    }
    .hamburger {
        width:26px;
        height:26px;}
}
@media (max-width:605px) {
    .qazrep{
        display: none;
    }
    .logo{
        height: 50px;
    }
    header{
        height: 80px;
    }
    .sidebar{
        top: 80px;
        width: 200px;
    }
    .menu__link{
        font-size: 25px;
    }
    .hamburger span {
        height:3px;
    }
    .hamburger {
        width:26px;
        height:26px;}
}
@media (max-width:500px) {
    .rowblock{
        display: grid;
    }
    .imageblock1{
        width: 200px;
        height: 400px;
        background-size: 100%;
        border-radius: 10%;
    }

    .imageblock2{
        width: 200px;
        height: 200px;
        background-size: 100%;
    }

    .imageblock3{
        width: 200px;
        height: 200px;
        background-size: 100%;
    }
}