main{
    margin: 0;
    padding: 0;
}
.mainken{
    padding-top: 75px;
	display: flex;
    flex-direction: row;
}
.kenjeide{
  margin: 120px auto;
    display: flex;
    flex-direction: row;
}
.infoabout{
    padding-left: 40px;
	display: flex;
	flex-direction: column;
    font-family: 'Roboto', sans-serif;
	color: #0045c0;
}
.texth{
	font-size: 40px;
}
.coast{
	font-size: 25px;
	color: #003aa2;
	margin: 5px 0;
}
.buttoncolour{
	padding: 5px;
	display: flex;
	justify-content: left;
	width: 100px;
}
.textcolour{
	font-size: 20px;
}
.butselectcolf{
 	display: block;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
    border: .1rem solid white;
    background-size: cover;
    background-position: 50%;
    transform-origin: center;
    z-index: 1;
    color: #e7dac7;
    margin-right: 3px;
}

.active-color {
    border-color: black;
}

/* Select color styles radio */
.color-radio {
  width: 29px;
  height: 28px;
}
.color-radio::after {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.color-radio:checked::after {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid black;
}
/* End color styles radio */

/* Select size styles */
.selector{
    position:relative;
    width: 100%;
    background-color: #f1f3f5;
    height: 40px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    /*border-radius:9999px;*/
    box-shadow:0 0 16px rgba(0,0,0,.2);
}
.selecotr-item{
    position:relative;
    flex-basis:calc(70% / 3);
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
  text-align: center;
}
.selector-item_radio{
    appearance:none;
    display:none;
}
.selector-item_label{
    position:relative;
    height: 100%;
    width:100%;
    text-align:center;
    /*border-radius:9999px;*/
    line-height:250%;
    font-weight:900;
    transition-duration:.5s;
    transition-property:transform, color, box-shadow;
    transform:none;
}
.selector-item_radio:checked + .selector-item_label{
    background-color: #4169e1;
    color: #fff;
    box-shadow:0 0 4px rgba(0,0,0,.5),0 2px 4px rgba(0,0,0,.5);
    transform:translateY(-2px);
}
@media (max-width:480px) {
	.selector{
		width: 90%;
	}
}
/* End select styles */

/* Quantity counter styles */

.counter {
    width: 150px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: #0052cc;
    color: #fff;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #0052cc;
    user-select: none;
}

/* End Quantity counter styles */