.imageblock15{
    width: 300px;
    height: 300px;
    background-size: 300px!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed;
    background-position: center!important;
}

.imageblock15:hover{
    /*background: url("./123/jeideler/burjeide/b1.jpg") no-repeat ;*/
    background-size: 300px;
}

/*------content------*/
.content{
	padding: 40px;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(34, 33, 33, 0.53)), url("../images/home/s.png");
    background-size: 4%;
    height: 780px;

}

  form {
    margin-top: 100px;
    margin-left: 35%;
    position: relative;
    width: 30%;
    background: #0046c0;
    border-radius: .7rem;
  }
  #bt {
    height: 5rem;
    font-family: 'Lato', sans-serif;
    border: 0;
    color: #2f2f2f;
    font-size: 1.8rem;
    text-align: center;
    padding-top: 20px;
  }
 #search{
    height: 5rem;
    font-family: 'Lato', sans-serif;
    border: 0;
    color: #2f2f2f;
    font-size: 1.8rem;
  }
  input[type="search"] {
    outline: 0;
    width: 100%;
    background: #fff;
    padding: 0 1.6rem;
    border-radius: .7rem;
    transition: .3s , cubic-bezier(0, 0, 0.43, 1.49);
    transition-property: 100%, .7rem;
    z-index: 1;
    position: relative;
    cursor: pointer;
  }
  #bt{
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
    font-weight: bold;
    background: #0046c0;
    border-radius: 0 .7rem .7rem 0;
    color: white;
    cursor: pointer;
  }
  #h1{
      color: white;
      font-size: 60px;
      -webkit-text-stroke: 2px black;
      margin-top: 30px;
      text-align: center;
      margin-left: 28%;
      background-color: rgba(237, 244, 245, 0.45);
      max-width: 700px;
  }
  input:not(:placeholder-shown) {
    border-radius: .7rem 0 0 .7rem;
    width: calc(100% - 6rem);
  }
  @media (max-width:1300px) {
      #h1{
          font-size: 30px;
          margin-left: 20%;
          max-width: 60%;
      }
      form{
          width: 50%;
      }
      #search{
          font-size: 20px;
      }
      #bt{
          font-size: 20px;
      }

  }
  @media (max-width:740px) {
    .qazrep{
        font-size:28px;
    }
    .qazrep p{
        margin-top: 10px;
    }
    .logo{
        height: 50px;
    }
    header{
        height: 80px;
    }
}
@media (max-width:630px) {
    .logo{
        height: 40px;
    }
    .qazrep p{
        margin-top: 5px;
    }
    header{
        height: 80px;
    }
}
@media (max-width:605px) {
    .qazrep{
        display: none;
    }
    .logo{
        height: 50px;
    }
    header{
        height: 80px;

}
#search{
    height: 60px;}
    #bt{
        height: 60px;
        width: 40px;
    }

    input:not(:placeholder-shown) {
        width: calc(100% - 40px);
      }
      form{
          margin-left: 30px;
          width: 60%;
      }
}
