{% extends 'bastama/components/base.html' %}
{% load static %}

{# Configuring the style path #}
{% block style %}
    <link rel="stylesheet" href="{% static 'bastama/css/basket.css' %}">
{% endblock style %}

{% block content %}
    {% include 'bastama/components/default_sidebar.html' %}

    <div class="content">
        <div class="con">

            <div class="row">
                <div class="col-lg-12" style="padding: 20px;">
                    <div class="box-element">
                        <h1 style="margin-bottom: 20px;">My Orders</h1>
                        <div class="cart-row">
                            <div style="flex:1"><strong>Transaction</strong></div>
                            <div style="flex:1"><strong>Date ordered</strong></div>
                            <div style="flex:1"><strong>Total Items</strong></div>
                            <div style="flex:1"><strong>Total Amount</strong></div>
                            <div style="flex:1"><strong>Complete</strong></div>
                        </div>

                        {% for order in orders %}
                        <div class="cart-row">
                            <div class="center-flex" style="flex:1"><p>{% if order.transaction %}{{ order.transaction }}{% else %}Not ordered yet!{% endif %}</p></div>
                            <div class="center-flex" style="flex:1"><p>{{ order.date_ordered }}</p></div>
                            <div class="center-flex" style="flex:1"><p>{{ order.get_basket_total }}</p></div>
                            <div class="center-flex" style="flex:1"><p>{{ order.get_basket_amount }}</p></div>
                            <div class="center-flex" style="flex:1"><p>{% if order.complete %}Ordered{% else %}Not Ordered{% endif %}</p></div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'bastama/js/basket.js' %}"></script>
{% endblock js %}
