<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
<style>
.w3-container {
  font-size: 14px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

</style>

<div class="center">
  <h3 class="donate">
    <div class="w3-card-4">

    <header class="w3-container w3-blue">
    <h1>PAY</h1>
    </header>

    <div class="w3-container">
    <p>choose one</p>

    <div id="paypal-button-container"></div>


    <script src="https://www.paypal.com/sdk/js?client-id=AXCrwBEczhLFBpa6BIe-hSdfnaMii09GFWBV85m6MWzTRlWwUXDATq0_-MtvXER4ZNqgqS0EJxiZWtO2"></script>
        

    <script>
        paypal.Buttons({

            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '88.44'
                        }
                    }]
                });
            },

            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
           });
            }


        }).render('#paypal-button-container');
    </script>

    </div>

    <footer class="w3-container w3-blue">
    <h5>Aktolkyn</h5>
    </footer>

    </div>
  </h3>
</div>

</body>