{% extends 'bastama/components/base.html' %}
{% load static %}

{# Configuring the style path #}
{% block style %}
    <link rel="stylesheet" href="{% static 'bastama/css/product.css' %}">
{% endblock style %}

{% block content %}
    {% include 'bastama/components/default_sidebar.html' %}

    {% csrf_token %}
    {#  Content  #}
    <main>
        <div class="mainken">
            <div class="kenjeide">
                <img id="prod" src="/media/{{ data.first_photo }}" alt="" width="300px" height="300px">
                <div class="infoabout">
                <div class="texth">
                    <h1>{{ data.name }}</h1>
                </div>
                <div class="coast">{{ data.price|floatformat }} KZT</div>
                {% if data.productattribute_set.all %}
                <div class="colours">
                    <div class="textcolour">Colour select:</div>
                    <div class="buttoncolour">
                        {% for color in data.productattribute_set.all %}
                        <button id="first" onclick="changec(this)" class="butselectcolf" style="background-color:{{ color.color.color_code }}"></button>
                        {% endfor%}
                    </div>
                </div>
                {% endif %}

                {% if sizes %}
                <div class="aboutsize">
                    <div>SIZE:</div>
                    <div class="buttonsizes">
                        {% for size in sizes %}
                        <button class="butselectss">{{ size }}</button>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                {% if data.description %}
                    <div class="aboutcomposition">
                        <div class="comp">COMPOSITION:</div>
                        <div>{{ data.description }}</div>
                    </div>

                    <div class="buttons" style="display: flex; align-items: center; justify-content: center;">
                        <a class="button" href="basket.html">Add to bag</a>
                        <div class="click {% if is_favorite_product %}active active2 active3{% endif %}" onclick="" data-product="{{  data.slug }}">
                          <span class="fa {% if is_favorite_product %}fa-star{% else %}fa-star-o{% endif %}"></span>
                          <div class="ring"></div>
                          <div class="ring2"></div>
                        </div>
                        </div>
                    </div>
                {% else %}
                <h1>Doesn't have description</h1>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}