{% extends 'bastama/components/base.html' %}
{% load static %}

{# Configuring the style path #}
{% block style %}
    <link rel="stylesheet" href="{% static 'bastama/css/product.css' %}">
{% endblock style %}

{% block content %}
    {% include 'bastama/components/default_sidebar.html' %}

    {% csrf_token %}
    {#  Content  #}
    <main>
        <div class="mainken">
            <div class="kenjeide">
                <img id="prod" src="/media/{{ data.first_photo }}" alt="" width="300px" height="300px">
                <div class="infoabout">
                <div class="texth">
                    <h1>{{ data.name }}</h1>
                </div>

                <div class="coast">{{ data.price|floatformat }} KZT</div>

                {% if data.description %}
                    <div class="aboutcomposition" style="margin-bottom: 15px">
                        <div class="comp">COMPOSITION:</div>
                        <div>{{ data.description }}</div>
                    </div>
                {% else %}
                    <h1>Doesn't have description</h1>
                {% endif %}

                {% if data.productattribute_set.all %}
                <div class="colours">
                    <div class="textcolour">Colour select:</div>
                    <div class="buttoncolour">
                        {% for attr in data.productattribute_set.all %}
                            {% if attr.color %}
                                {% if forloop.counter == 1 %}
                                    <button class="butselectcolf active-color" onclick="active_color(this)" value="{{ attr.color }}" style="background-color:{{ attr.color.color_code }}"></button>
                                {% else %}
                                    <button class="butselectcolf" onclick="active_color(this)" value="{{ attr.color }}" style="background-color:{{ attr.color.color_code }}"></button>
                                {% endif %}
                            {% endif %}
                        {% endfor%}
                    </div>
                </div>
                {% endif %}

                {% if sizes %}
                <div class="aboutsize" style="margin-bottom: 15px;">
                    <div>SIZE:</div>
                    <div class="selector">
                        {% for size in sizes %}
                        <div class="selecotr-item">
                            {% if forloop.counter == 1 %}
                                <input type="radio" id="radio{{ forloop.counter }}" name="selector" class="selector-item_radio" value="{{ size }}" checked>
                                <label for="radio{{ forloop.counter }}" class="selector-item_label">{{ size }}</label>
                            {% else %}
                                <input type="radio" id="radio{{ forloop.counter }}" name="selector" class="selector-item_radio" value="{{ size }}">
                                <label for="radio{{ forloop.counter }}" class="selector-item_label">{{ size }}</label>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>

                </div>
                {% endif %}

                <div class="counter">
                  <span class="down" onClick='decreaseCount(event, this)'>-</span>
                  <input type="text" name="quantity" value="1">
                  <span class="up" onClick='increaseCount(event, this)'>+</span>
                </div>


                    <div class="buttons" style="display: flex; align-items: center; justify-content: left;">
{#                        <button class="button" style="margin-right: 5px;" href="basket.html">Buy now</button>#}
                        <button class="button" style="margin-right: 12px;" href="" onclick="add_product_to_basket('{{ data.slug }}')">Add to bag</button>
                        <div class="click {% if is_favorite_product %}active active2 active3{% endif %}" onclick="" data-product="{{  data.slug }}" style="top: -12px;">
                          <span class="fa {% if is_favorite_product %}fa-star{% else %}fa-star-o{% endif %}"></span>
                          <div class="ring"></div>
                          <div class="ring2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block js %}
    <script src="{% static 'bastama/js/basket.js' %}"></script>
{% endblock js %}